
#fundoImagePokemon {
    margin: 5% 5% 5% 5% ;
    border: 2px, solid,black;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}


#fundoCard {   
    //Essa cor deve mudar de acordo com o pokemon
    background-color: rgba(249, 223, 223, 0.999);
}