#CardPokemon{
    background: rgba(252, 148, 148, 0.973);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#CardPokemon:hover{
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.7);
}


#bgCard{
    background-color: rgba(174, 174, 174, 0.136);
}

#Image{
    margin: 5% 5% 5% 5% ;
    padding-top:  10px;    
    width: 70%;
    height: 70%;
    margin: 0 auto;
}


#fundoCard {   
    //Essa cor deve mudar de acordo com o pokemon
    background-color: rgba(226, 223, 249, 0.999);
    width: 90%;
    height: 90%;
    margin: 5% 5% 5% 5%;
    border-radius: 15px;
}

#typeInfoPokemon{
    height: 30px;
    font-size: 10px;
    margin-left: 3px;
    margin-top: 3px;
}